@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*----------  base
------------------------------------------------------------------------------*/
@import "base/reset";
@import "base/variables";
@import "base/typography"; 

/*----------  helpers
------------------------------------------------------------------------------*/
// @import "helpers/functions"; 

/*----------  components
------------------------------------------------------------------------------*/
@import "components/question"; 
// @import "components/i1"; 
@import "components/i2"; 

/*----------  layout
------------------------------------------------------------------------------*/
// @import "layout/header"; 
// @import "layout/footer";    

* {
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0,0);
    border: 0;
}

body {
    background: rgb(175,103,233);
    background: linear-gradient(180deg, rgba(175,103,233,1) 20%, rgba(101,101,231,1) 73%);
    width: 100%;
    min-height: 100vh;
    padding: 129px 24px 40px 64px;
}
// main {
//     display: flex;
//     flex-direction: column;
// }

h2 {
    width: 100%;
    text-align: left;
    color: $primary_lvl_3;
    margin-bottom: 25px;
}


// @media screen and (max-width: 1600px) { 
//     h2 {
//         text-align: left;
//     }
// }

@media screen and (max-width: 1040px) { 
    body {
        padding: 80px 40px;
    }
    h2 {
        text-align: center;
    }
}