// ----- Font family-----
$ffamily_primary: 'Kumbh Sans';

// ----- Font size-----
$fsize_primary: 12px;

// ----- Colors -----

$hover: #6B9BFF;

$primary_lvl_1: hsl(240, 6%, 50%);
$primary_lvl_2: hsl(237, 12%, 33%);
$primary_lvl_3: hsl(238, 29%, 16%);
$accent: hsl(14, 88%, 65%);

// Dividers
$neutral_lvl_1: hsl(240, 5%, 91%);


// Background gradient
$bg_neutral: white;
$bg1:  hsl(273, 75%, 66%);
$bg2: hsl(240, 73%, 65%);